<!DOCTYPE html>
<html>
<body>

    <h1><%=@owner.name%></h1>
  

       <%=@owner.name%>

<br>

<h1> My Cars </h1>
<ul>
    <%@owner.cars.each do |car|%>
      <li><%="#{car.make} - #{car.model}"%></li>
    <%end%>
</ul>
<br>
<br>

<h1><a href="/cars">Buy New Cars</a></h1>

</body>
</html>